body { 
    font-family: sans-serif; 
}

.draggable {
    height: 43.75px; /* 1U */
    width: 475px; /* 19 inches */
    background-image: url("images/racks/fulltone-that-80s-chorus.png");
    cursor: move;
}

.draggable.is-dragging { 
    opacity: 0.7; 
}
