body { 
    font-family: sans-serif; 
}

.draggable {
    width: 140px;
    height: 140px;
    background-image: url("GitHub-Mark-120px-plus.png"); /* Using this image as a place holder */
    border-radius: 10px;
    cursor: move;
}

.draggable.is-dragging { 
    opacity: 0.7; 
}
